<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>
  <div class="container"></div> 
    <div id="modal" class="animar">
      <h1>Login</h1>
      <label>Nome</label>
      <input id="nome_in"type="text">
      <label>Usuario</label>
      <input id="usuario_in"type="text">
      <label>Email</label>
      <input id="email_in" type="text">
       <label>senha:</label>
      <input id="senha_in" type="text">

      <button id="logar_bt">Logar</button>
    </div>
    <div id="load"></div>



       <link rel="stylesheet" href="assets/css/cadastro_css.css">
      <script src="assets/js/cadastro_js.js"></script>

  
</body>
</html>